:root {
    --layout-bg: #170f23;
    --sidebar-bg: rgba(255, 255, 255, 0.05);
    --img-logo-mp3: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
    --alpha-bg: hsla(0,0%,100%,0.1);
    --bg-content-color: #ffffff1a;
    --primary-bg: #432275;

    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --alpha-bg: hsla(0,0%,100%,0.1);

    --player-height: 90px;
    --header-height: 70px;
    --text-sidebar: 1.3rem;
    --text-search: 1.4rem;
    --text-item-hover: #fff;
    --tab-active-bg: hsla(0,0%,100%,0.3);


    --text-item-hover: #fff;
    --text-primary: #fff;
    --text-search-color: #eee;

    --size-icon-primary: 2.4rem;
    --icon-color: #fff;


    --text-color: #fff;
    --navigation-text: #dadada;
    --text-primary: #fff;

    --border-primary: hsla(0,0%,100%,0.1);

    --sticky-header-box-shadow: rgba(0,0,0,0.1);

    --navigation-text: #dadada;


}

* {
    box-sizing: inherit;
    
}

html {
    font-size: 62.5%;

}

body {
    margin: 0;
    overflow: hidden;
    background: var(--layout-bg);
    font-family: Inter,sans-serif;
}
button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}
input {
    padding: 0;
    border: none;
    background-color: transparent;
}

a {
    color: inherit;
    cursor: pointer;
    font-style: normal;
    
}

.zm-btn {
    color: var(--black);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;

    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
}

.is-outlined {
    border: 1px solid var(--border-primary);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
}

.title {
    font-weight: 700;
    color: var(--text-primary);
    text-transform: uppercase;
    margin: 0 28px 8px;
    white-space: nowrap;
}

.icon {
    font-size: 1.3rem;
    /* padding: 5px; */
    /* display: none; */
}


.is-hover-circle {
    display: flex;
    flex-direction: column-reverse;
    width: 14px;
    height: 14px;
    background: #352e3f;
    border-radius: 999px;
    display: none;
}

.button--disabled {
    opacity: 0.3 !important;
    cursor: default !important;
    user-select: none !important;
}

.zm-avatar-frame {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-rounded {
    overflow: hidden;
    border-radius: 999px!important;
}

.header.is-sticky {
    background-color: var(--layout-bg);
    box-shadow: 0 3px 5px var(--sticky-header-box-shadow);
}

.vip-btn {
    background-color: var(--yellow);
    color: var(--black);

}

.vip-code-btn {
    background-color: var(--alpha-bg);
}


.zm-btn {
    font-size: 14px;
    border-radius: 999px;
    line-height: normal;
    border: 0;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.is-small {
    font-size: 12px;
    padding: 6px 19px;
}

.is-upper {
    text-transform: uppercase;
}

/* icon button cicle */
.zm-btn-more {
    border-radius: 50%;
    background-color: var(--alpha-bg);
    margin-left: 7px;
    
}
.zm-tooltip-btn .icon {
    font-size: 16px;
    padding: 5px;
    border-radius: 50%;
}
.icon {
    line-height: 66%;
    display: inline-block;
}

.isWhite {
    color: var(--white);
}
.isBlurWhite {
    color: var(--white);
    opacity: 0.8;
}