.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.no-wrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: overlay hidden;

}

/* Chia theo hệ 12 column */
.c-12 {
    flex: 100%;
    max-width: 100%;
}

/* Chia theo hệ 7 column */

.col-1-7 {
    flex: 0 0 14.285714%;
    max-width: 14.285714%;
}

/* Chia theo hệ 2 column */
.col-1-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-2 {
    width: 8.33%;
}

.col-10 {
    width: calc(100% - 8.33%);

}




