.app {
    display: flex;
    overflow:  hidden;
    background-color: var(--layout-bg);
    height: calc(100vh - var(--player-height));
}




.app__sidebar {
    width: 240px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
    position: relative;
}

.app__container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden overlay;

    flex: 1;
}

.app__header {
    width: 100%;
    padding-top: 85px;
    position: relative;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 205px 0 0;
    background-color: rgb(83, 13, 95)

}
.content__navbar {
    display: flex;
    min-height: 52px;
    margin-bottom: 30px;
    background-color: darkorange;
}

.content__container {
    width: 100%;
    padding: 0 4vw 0;
    background-color: green;
}


/* Siderbar navigation*/
/* Zone 1 */
.sidebar__logo {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;


}
.sidebar__logo-link {
    display: flex;
    width: 100%;
}
.siderbar__logo-img {
    height: 3.5rem;
    display: block;
    margin-left: 31px;
    color: var(--text-color);
}

.sidebar__subnav-menu,
.sider__subnav-list,
.sidebar__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.sider__subnav-item,
.sidebar__nav-item {
    font-weight: 700;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
}

.sidebar__nav-mylist-item-link,
.sidebar__menu-link,
.sider__subnav-item-link,
.sidebar__nav-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--text-sidebar);
    padding: 7px 25px;
}


.sider__subnav-item-link i,
.sidebar__nav-item-link i{
    width: 24px;
    height: 24px;
    font-size: 2.2rem;
    display: inline-block;
}

.sider__subnav-item-link span,
.sidebar__nav-item-link span {
    padding-left: 5px;
}

/* sidebar__login */
.sidebar__login {
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    background-image: linear-gradient(117deg, #5a4be7,#c86dd7 102%);
    display: flex;
    flex-direction: column;
}

.sidebar__login-description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
    color: var(--white);
    margin-bottom: 10px;
}

.sidebar__login .zm-btn {
    background-color: #ffdb00;
    border-color: #ffdb00;
    padding: 6px 35px;
    text-transform: uppercase;
}

.sidebar__menu-item {
    display: flex;
    align-items: center;
    color: var(--navigation-text);
}

.sidebar__menu-link img {
    padding-right: 5px;
}

.sidebar__menu-link span {
    line-height: normal;
    white-space: nowrap;
}

/* sidebar__navigation-list */
.sidebar__nav-mylist-item-link{
    justify-content: space-between;
    font-size: 1.3rem;
    height: 32px;
    padding: 0 25px;
    font-weight: 400;
    color: var(--navigation-text);
}


.sidebar__nav-mylist-btn .icon {
    display: none;
}

.sidebar__nav-mylist-item-link:hover span,
.sidebar__nav-mylist-item-link:hover .icon {
    display: block;
    color: var(--text-item-hover);
}


/* sidebar__create-playlist */
.sidebar__create-playlist {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.sidebar__create-container{
    position: fixed;
    bottom: 90px;
    height: 54px;
    width: 240px;
    border-top: 1px solid var(--border-primary);
    padding: 0 28px;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-weight: 700;
    background-color: #231b2e;
    cursor: pointer;

}
.sidebar__create-container i {
    font-size: 1.6rem;
    margin-right: 10px;
}

.sidebar__create-titile {
    font-size: 1.4rem;
}


/* Header bar */
.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 0 30px;
    height: var(--header-height);
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
}


.header__with-search {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

}

.header__button {
    cursor: pointer;
    color: var(--text-color);
}
.header__button i{
    font-size: var(--size-icon-primary);
    margin-right: 20px;
}

.header__search {
    height: 40px;
    max-width: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-content-color);
    position: relative;
}

.header__search-ipt {
    width: 100%;
    background: transparent;
    border: 0;
    border-style: none;
    height: 34px;
    font-size: 14px;
    color: var(--text-search-color);
    width: 95%;
    outline: none;

}

.header__search-btn i{
    font-size: var(--size-icon-primary);
    color: var(--icon-color);
    padding: 0 10px;
}



.header__nav-item-list {
    display: flex;
    list-style: none;
    margin: 15px 0;
}

.header__nav-item {
    margin-right: 10px;

}

.header__nav-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-content-color);
    display: flex;
    margin: auto;
    cursor: pointer;

}
.header__nav-icon{
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 5px;
    color: var(--icon-color);
    font-size: 1.8rem;
    text-align: center;
}

.header__nav-btn label {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.header__nav-btn img {
    height: 38px;
    width: 38px;
}


.header__suggest {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color:  var(--primary-bg);
    color: var(--text-color);
    border-radius: 0 0 20px 20px;
}

.header__suggest-list {
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.header__suggest-title {
    font-size: var(--text-search);
    font-weight: 500;
    padding: 8px 10px; 

}

.header__suggest-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: var(--text-search);
    width: 100%;
    padding: 8px 10px; 
}

.header__suggest-item i {
    font-size: 1.4rem;
    opacity: 0.5;
    padding-right: 10px;
}

.header__suggest-songname {
    font-size: var(--text-search);
    color: var(--text-color);
    text-decoration: none;

}

.header__search.is-collapse {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.05);
    background-color: var(--primary-bg);
}