.app {
    display: flex;
    overflow:  hidden;
    background-color: var(--layout-bg);
    height: calc(100vh - var(--player-height));
    background-size: 1920px auto;
    background-repeat: repeat;
}




.app__sidebar {
    width: 240px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
    position: relative;
}

.app__container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden overlay;
    flex: 1;
    display: none;
}

.app__container.active {
    display: block;
}



/* Siderbar navigation*/
/* Zone 1 */
.sidebar__logo {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;


}
.sidebar__logo-link {
    display: flex;
    width: 100%;
}
.siderbar__logo-img {
    height: 3.5rem;
    display: block;
    margin-left: 31px;
    color: var(--text-color);
}

.sidebar__subnav-menu,
.sider__subnav-list,
.sidebar__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.sider__subnav-item,
.sidebar__nav-item {
    font-weight: 700;
    color: var(--navigation-text);
    border-left: 3px solid transparent;
}

.sidebar__nav-mylist-item-link,
.sidebar__menu-link,
.sider__subnav-item-link,
.sidebar__nav-item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--text-sidebar);
    padding: 7px 25px;
}


.sider__subnav-item-link i,
.sidebar__nav-item-link i{
    width: 24px;
    height: 24px;
    font-size: 2.2rem;
    display: inline-block;
}

.sider__subnav-item-link span,
.sidebar__nav-item-link span {
    padding-left: 5px;
}

/* sidebar__login */
.sidebar__login {
    padding: 15px 8px;
    border-radius: 8px;
    margin: 10px 20px;
    text-align: center;
    background-image: linear-gradient(117deg, #5a4be7,#c86dd7 102%);
    display: flex;
    flex-direction: column;
}

.sidebar__login-description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
    color: var(--white);
    margin-bottom: 10px;
}

.sidebar__login .zm-btn {
    background-color: #ffdb00;
    border-color: #ffdb00;
    padding: 6px 35px;
    text-transform: uppercase;
}

.sidebar__menu-item {
    display: flex;
    align-items: center;
    color: var(--navigation-text);
}

.sidebar__menu-link img {
    padding-right: 5px;
}

.sidebar__menu-link span {
    line-height: normal;
    white-space: nowrap;
}

/* sidebar__navigation-list */
.sidebar__nav-mylist-item-link{
    justify-content: space-between;
    font-size: 1.3rem;
    height: 32px;
    padding: 0 25px;
    font-weight: 400;
    color: var(--navigation-text);
}


.sidebar__nav-mylist-btn .icon {
    display: none;
}

.sidebar__nav-mylist-item-link:hover span,
.sidebar__nav-mylist-item-link:hover .icon {
    display: block;
    color: var(--text-item-hover);
}


/* sidebar__create-playlist */
.sidebar__create-playlist {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.sidebar__create-container{
    position: fixed;
    bottom: 90px;
    height: 54px;
    width: 240px;
    border-top: 1px solid var(--border-primary);
    padding: 0 28px;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    font-weight: 700;
    background-color: #231b2e;
    cursor: pointer;

}
.sidebar__create-container i {
    font-size: 1.6rem;
    margin-right: 10px;
}

.sidebar__create-titile {
    font-size: 1.4rem;
}


/* Header bar */
.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 30px;
    height: var(--header-height);
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
}


.header__with-search {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

}

.header__button {
    cursor: pointer;
    color: var(--text-color);
}
.header__button i{
    font-size: var(--size-icon-primary);
    margin-right: 20px;
}

.header__search {
    height: 40px;
    max-width: 540px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-content-color);
    position: relative;
}

.header__search-ipt {
    width: 100%;
    background: transparent;
    border: 0;
    border-style: none;
    height: 34px;
    font-size: 14px;
    color: var(--text-search-color);
    width: 95%;
    outline: none;

}

.header__search-btn i{
    font-size: var(--size-icon-primary);
    color: var(--icon-color);
    padding: 0 10px;
}



.header__nav-item-list {
    display: flex;
    list-style: none;
    margin: 15px 0;
}

.header__nav-item {
    margin-right: 10px;

}

.header__nav-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-content-color);
    display: flex;
    margin: auto;
    cursor: pointer;

}
.header__nav-icon{
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 5px;
    color: var(--icon-color);
    font-size: 1.8rem;
    text-align: center;
}

.header__nav-btn label {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.header__nav-btn img {
    height: 38px;
    width: 38px;
}


.header__suggest {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color:  var(--primary-bg);
    color: var(--text-color);
    border-radius: 0 0 20px 20px;
    display: none;
}

.header__suggest-list {
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.header__suggest-title {
    font-size: var(--text-search);
    font-weight: 500;
    padding: 8px 10px; 

}

.header__suggest-item {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: var(--text-search);
    width: 100%;
    padding: 8px 10px; 
}

.header__suggest-item i {
    font-size: 1.4rem;
    opacity: 0.5;
    padding-right: 10px;
}

.header__suggest-songname {
    font-size: var(--text-search);
    color: var(--text-color);
    text-decoration: none;

}

.header__search.is-collapse {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 5px 0 rgba(255, 255, 255, 0.05);
    background-color: var(--primary-bg);
}



/* //////////////////////////////////// */
.app__header {
    width: 100%;
    position: relative;
    height: 290px;
    overflow: hidden;
    
}
.app__header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.app__header-user {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    padding-top: 85px;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),var(--layout-bg));
    height: 100%;

}

.app__user-avatar {
    overflow: hidden;
}

.app__user-avatar img {
    width: 95px;
    height: 95px;
}

.app__user-name {
    font-size:  32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-primary);
    margin: 10px auto 5px;
    line-height: 1.2;
}

.app__header .app__header-bgBlur {
    background-position: 50%;
    background-size: cover;
    filter: blur(140px);
}
.app__header-bgBlur,
.app__header-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.app__header.app__header-overlay {
    background-position: 50%;
    opacity: 0.6;
    background-color: var(--layout-bg);
}

.app__header-action {
    position: absolute;
    top: 85px;
    right: 40px;
    display: flex;
    align-items: center;
}

a.zm-btn {
    margin-right: 7px;
}


/* ////////////////////////// */
/* Content */

.content {
    display: flex;
    flex-direction: column;
    min-height: 52px;
}
.content__navbar {
    display: flex;
    align-items: center;
    margin:  0 auto;
    background-color: var(--alpha-bg);
    border-radius: 15px;
    padding: 3px;
}

.content__container {
    width: 100%;
    padding: 0 4vw 0;
}

.content__navbar-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;

}

.content__navbar-item {
    padding: 7px 25px;
}

.content__navbar-link {
    text-decoration: none;
    color: var(--navigation-text);
    font-size: 1.2rem;
    font-weight: 300;
}

.content__navbar-menu .is-active {
    color: var(--text-item-hover);
    border-radius: 15px;
    box-shadow:  0 1px 3px rgb(0, 0, 0, 0.07);
    background-color: var(--tab-active-bg);
}

.content__navbar-menu .content__navbar-item:hover a{
    color: var(--white);
}


/* ///////////////////////////// */
/* CONTENT CONTAINER */

.container__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;

}

.container__header-title {
    display: flex;
    flex: 1;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--text-title);
    justify-content: space-between;
}

.container__header-all i {
    padding-left: 10px;
    color: var(--icon-blur);
    font-size: 1.6rem;
}

.container__header-all {
    display: flex;
    align-items: center;
    color: var(--icon-color);
}

.container__header-all h3{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-blur);
}

.container__header-actions {
    display: flex;
    align-items: center;
}

.container__header-actions .icon {
    font-size: 1.8rem;
    margin-right: 5px;
}

.container__playmusic {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    
}

.container__slide {
    width: 290px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;
}

.container__playmusic {
    margin: 0;
    width: 100%;
    height: 244px;
    display: flex;
    margin-bottom: 25px;

}

.container__slide-show {
    width: 230px;
    height: 244px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    transform-style: preserve-3d;

}

.container__slide-item {
    width: 230px;
    height: 230px;
    position: absolute;
    transition: all 0.9s;
    will-change: transform, opacity;
    transform: perspective(1px) translateZ(0);

}

.container__slide-img {
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
}


.container__slide-item.first {
    opacity: 1;
    transform: translate3d(0, 0, 80px) scale(1,1);
}

.container__slide-item.second {
    opacity: 0.7;
    transform: translate3d(var(--offset-x-second) , 0, 60px) scale(var(--scale-rate-second), var(--scale-rate-second));
}

.container__slide-item.third {
    opacity: 0.9;
    transform: translate3d(var(--offset-x-third) , 0, 20px) scale(var(--scale-rate-third), var(--scale-rate-third));
}

.container__slide-item.fourth {
    opacity: 0.1;
    transform: translate3d(var(--offset-x-third) , 0, 0) scale(var(--scale-rate-third), var(--scale-rate-third));
}



.container__playlist {
    flex-grow: 1;
    height: 100%;
    overflow: hidden overlay;
    margin-right: -6px;
}

.playlist__list-song {
    border-bottom: 1px solid var(--border-secondary);
    border-radius: 4px;
}

.playlist__song-card-info {
    border-radius: 4px;
    border-bottom: 1px solid var(--border-secondary);
}

.playlist .playlist__song-card-info:hover {
    background-color: var(--alpha-bg);
}

.player-quick__list-item:hover .opacity,
.playlist__song-card-info:hover .opacity {
    visibility: visible;
}

.player-quick__list-item:hover .zm-actions,
.playlist__song-card-info:hover .zm-actions {
    visibility: visible;
    font-size: 2rem;
    color: var(--white);
}

.player-quick__list .next-song {
    padding: 15px 8px 5px;
    display: flex;
    flex-direction: column;

}

.player-quick__list .next-song .title {
    margin: 2px 0;
    font-size: var(--text-title-song);
}

.player-quick__list .next-song .subtitle {
    font-size: var(--text-title-song);
    color: var(--text-secondary);
}
.player-quick__list .next-song .subtitle a{
    cursor: pointer;
    color: var(--purple-primary);
    padding-left: 5px;
}




.album-info span:hover,
.card-info a:hover {
    text-decoration: underline;
    color: var(--link-text-hover);
}


.media {
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.media-left {
    display: flex;
    align-items: center;
}

.player-quick__song .media.is-pre .media-left {
    /* opacity: 0.5; */
}

.media-item.full-left .media-left{
    flex-grow: 1;
    flex-shrink: 1;
}

.media-item .media-left {
    display: flex;
    width: 50%;
}

.player-quick__song .media .media-left .song-thumb {
    width: 40px;
    height: 40px;
}

.media .title-song {
    text-overflow: ellipsis;
    overflow: hidden;
}

.media-left .song-thumb+.card-info {
    overflow: hidden;
}

.media .subtitle {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}



.song-thumb {
    margin-right: 10px;
    flex-shrink: 0;
    overflow: hidden;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}
.zm-actions-container {
    position: absolute;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.title-song {
    font-size: var(--text-title-song);
    font-weight: 500;
    color: var(--text-color);
}

.is-oneline {
    margin: 3px 0 0 0;
    font-size: var(--text-subtitle-song);
    color: var(--text-secondary);
    font-weight: 300;
}
.is-oneline a{
    text-decoration: none;
}

.media-left {
    width: 50%;
}


.media-content {
    flex-grow: 1;
    align-items: center;
    margin-right: 10px;
}
.album-info {
    font-size: var(--text-subtitle-song);
    color: var(--text-secondary);

    cursor: pointer;
}

.action-items {
    display: flex;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.level-item {
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.level-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.duration {
    font-size: var(--text-subtitle-song);
    color: var(--text-secondary);
}

.album-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-content .is-hover-circle,
.media-right .is-hover-circle {
    line-height: 0;
    padding: 6px;
    margin:  0 4px;
}

.media-right .duration {
    font-size: 12px;
    padding: 0 8px;
    color: var(--song-item-action);
}



.row__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.row__item-container {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: relative;
}

.row__item-display {
    position: relative;
    overflow: hidden;
}


.row__item-display figure{
    overflow: hidden;
    border-radius: 5px;
    line-height: 0;
}


/* Heading Radio */
.radio__container-section {
    position: relative;
}


.zm-carousel-control-next{
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 50;
    background-color: var(--white);
    border-radius: 50%;
    right: 0;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(20%);
}

.zm-carousel-control-pre i,
.zm-carousel-control-next i{
    color: var(--black);
    opacity: 0.8;
}

.zm-carousel-control-pre{
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 50;
    background-color: var(--white);
    border-radius: 50%;
    left: 0;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-20%);
}

.radio__container-section:hover .zm-carousel-control-pre,
.radio__container-section:hover .zm-carousel-control-next {
    opacity: 0.8;
}


.row__item-radio-info,
.row__item-info {
    display: flex;
    flex-direction: column;
}

.row__item-radio-info-title,
.row__item-radio-info,
.row__item-info-name-artist,
.row__item-info-name{
    color: var(--white);
    text-decoration:  none;
    margin: 8px 0 4px 0;
    font-size: var(--text-title-song);
    font-weight: 500;
}


.row__item-info-creator {
    color: var(--text-secondary);
    font-size: var(--text-subtitle-song);
    font-weight: 300;
}

.row__item-display:hover .opacity {
    visibility: visible;
    border-radius: 5px;
    cursor: pointer;
}

.row__item-display:hover .zm-actions{
    visibility: visible;
}

.row__item-info a:hover{
    color: var(--purple-primary);
}

.row__item-info.row__item-info-name-artist a:hover {
    color: var(--purple-primary);
    text-decoration: underline;
    
}

.modal__close-btn:hover i {
    color: var(--icon-color);
    opacity: 0.5;
    cursor: pointer;
}

.row__item-info-creator-subtitle {
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 400;

}

.row__item-info-nameArtist {
    text-decoration: none;
}


/* ************MODAL*************** */

.modal__theme {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    visibility: hidden;
}

.modal__theme.open {
    visibility: visible;
}

.modal__theme-container {
    background-color: var(--primary-bg);
    border-radius: 8px;
    max-height: 100%;
    width: 70vw;
    max-width: 900px;
    padding-bottom: 20px;
    position: relative;
}

.modal__close-btn i{
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    color: var(--white);
    font-size: 2.2rem;
}

.modal__header-title {
    font-size: 24px;
    padding: 20px 30px;
    margin: 0;
    color: var(--text-primary);
}

.modal__content {
    max-height: 50vh;
    min-height: 500px;
    width: 100%;
    padding: 0 30px;
    overflow-y: scroll;
}

@media (min-width: 1024px) {
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-2 {
        flex: 0 0 16.667%;
        max-width: 16.667%;
    }
    .row.sm-gutter .col{
        padding: 0 7px;
    }
    .row.sm-gutter {
        margin-left: -7px;
        margin-right: -7px;
    }
}


.row.sm-gutter {
    margin-bottom: 20px;
}

.modal__content-title {
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 10px;
}

.theme__container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}


.theme__container-item:hover .opacity {
    visibility: visible;


}

.theme__container-item figure {
    line-height: 0;
    overflow: hidden;
    border-radius: 5px;
    height: 0;
    padding-bottom: 64.67%;
    border: 1px solid transparent;

}

.theme__container-name {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 6px 0;

}


.theme-actions.zm-box.zm-actions {
    display: flex;
    flex-direction: column;
    width: 100px;
    visibility: hidden;
    padding: 5px 0;

}

.theme__container-item:hover .theme-actions.zm-actions {
    visibility: visible;
}

.theme__container-item:hover img {
    transform: scale(1.2) translateZ(0);
}
.theme__container-item img {
    transition: transform 0.7s;
}



.theme-actions .is-small {
    padding: 4px 0;
    width: 100%;
}

.theme-actions-btns{
    width: 100%;
}

.theme-actions .review {
    background-color: rgba(0,0,0,.3);
    border-color: hsla(0,0%,100%,.5);
}

.theme-actions-btns {
    margin-bottom: 10px;
    
}

.theme-actions span{
    font-size: 8px;
}

/* END */

/*Tab Radio */
.app__container .app__container-content {
    margin-top: 120px;
    padding-left: 58px;
    padding-right: 58px;
}

.row__item-display figure img{
}


.row__item-display .svg {
    position: absolute;
    transform: rotate(-90deg);
    z-index: 2;
    fill: transparent;

}

.row__item-display .cover {
    border-radius: 50%;
    height: 0;
    line-height: 0;
    padding-bottom: 100%;
}

.zm-card-s-image .host {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    top: 46.33%;
    left: 78.33%;
    height: 46px;
    width: 46px;
    overflow: hidden;
}

.row__item-radio-info::after {
    content: "live";
    position: absolute;
    top: 72%;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: red;
    line-height: 1;
    z-index: 10;
    text-transform: uppercase;
    color: var(--white);
    padding: 3px 4px;
    border-radius: 5px;
    letter-spacing: 1px;
}

/* PODCAST */
.container__header-section {
    display: flex;
}
.container__header-title figure{
    border-radius: 5px;
    line-height: 0;
    overflow: hidden;
    
}

.container__header-title:hover img {
    transform: scale(1.1) translateZ(0);
}
.container__header-title img {
    transition: 0.7s;
}



.container__header-title.special-playlist {
    display: flex;
    justify-content: flex-start;
    flex: none;
    
}

/* Schedule Time */
.special-playlist--info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.special-playlist--info h3 {
    text-transform: uppercase;
    color: var(--text-secondary);
    font-size: var(--text-size-secondary);
    font-weight: 400;
    padding-top: 5px;
}

.special-playlist--info a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--text-title);
    padding-top: 8px;
    font-weight: 600;
}

.special-playlist--info:hover a{
    color: var(--purple-primary);
}


.schedule-body {
    display: flex;
}

.schedule__body-left-card {
    background-color: var(--alpha-bg);
    border-radius: 8px 0 0 8px;
    display: flex;
    flex-direction: column;
}


.schedule__body-left-container {
    width: 100%;
}

.schedule__body-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: var(--text-title);
    height: 38px;
    letter-spacing: 1px;
    white-space: nowrap;
}



.schedule__body-left-card {
    background-color: var(--alpha-bg);
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
}


.schedule__body-left-card .zm-card {
    display: flex;
    height: 80px;
    width: 108px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.schedule__body-left-card :nth-child(3) {
    margin-bottom: 0;
}


.schedule__body-left-card .zm-card .zm-card-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}


.schedule__programs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.time-lines {
    display: inline-flex;
    height: 38px;
    align-items: center;
}

.time-lines .point {
    width: 300px;
    display: flex;
    font-size: 18px;
}

.schedule__programs {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}


.schedule__body-content {
    position: relative;
    overflow:  hidden overlay;
}




.schedule__body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
    font-size: var(--text-title);
    height: 100%;
    letter-spacing: 1px;
    white-space: nowrap;
    justify-content: space-between;
    position: relative;
}

.schedule__body-content .line {
    position: absolute;
    z-index: 1;
    width: 2px;
    top: 10.5px;
    left: 200px;
    bottom: 0;
    background-color: #66ffc4;
}

.schedule__body-content .line .marker {
    position: absolute;
    width: 60px;
    color: var(--black);
    font-weight: 500;
    background-color: #66ffc4;
    top: 0;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    border-radius: 4px;
}

.schedule__body-content .line::after {
    position: absolute;
    bottom: 0;
    content: "";
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #66ffc4 transparent;
    transform: translateX(calc(-50% + 1px));

}

.schedule__body-container :nth-child(5) {
    margin-bottom: 0;
}

.schedule__programs-item {
    display: flex;
}

.schedule__programs-left figure {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 4px;
}
.schedule__programs-content {
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.schedule__programs-item {
    padding: 8px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: var(--alpha-bg);
    overflow: hidden;

}

.schedule__programs-content .title{
    font-size: var(--text-title-song);
    margin: 0 4px 0 0;
    text-transform: none;
}

.schedule__programs-content .time{
    color: var(--text-secondary);
    font-size: var(--text-subtitle-song);
    font-weight: 300;
    padding-top: 8px;
}

.schedule__programs-container {
    display: flex;
}

.schedule__body-content .arrow-btn-wrapper {
    position: absolute;
    width: 88px;
    right: 0;
    top: 38px;
    bottom: 0;
    background-image: linear-gradient(270deg, var(--layout-bg) -20%, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.schedule__body-content .arrow-btn-wrapper .arrow-btn {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--alpha-bg);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
}

/* ..content:hover .zm-actions {
    visibility: visible;
    background-color: var(--dark-alpha-50);
    height: 100%;
    width: 100%;
    border-radius: 50%;
} */

/* #ZingChart */
.chart__container-header {
    display: flex;
    align-items: center;
}
.chart__hearder-name {
    font-size: 40px;
    color: var(--white);
    padding-right: 8px;
}

.chart__hearder-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--purple-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart__container-header:hover .chart__hearder-btn {
    opacity: 0.7;
    cursor: pointer;
}

.media .media-prefix {
    display: flex;
    align-items: center;
    justify-content: center;

}

.media-prefix .song-prrfix-number{
    width: 60px;
    min-width: 38px;
    font-size:  32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: rgba(74,144,226,0);
    font-family: "Roboto", sans-serif;
    padding: 0 15px;
    -webkit-text-stroke: 1.5px var(--text-primary);

}

.song-prrfix-number.is-top-1{
    -webkit-text-stroke: 1px #4a90e2;
    opacity: 1;
}
.song-prrfix-number.is-top-2{
    -webkit-text-stroke: 1px #50e3c2;
    opacity: 1;
}
.song-prrfix-number.is-top-3{
    -webkit-text-stroke: 1px #e35050;
    opacity: 1;
}
.strikethrough {
    padding: 0 15px 0 10px;
    opacity: 0.5;
}

/* ***********Siderbar now playing bar**************  */
@media (min-width: 1591px){
    .siderbarPlay__body {
        margin-right: 330px;
    }
    .header {
        right: 330px;
        width: calc(100% - 240px - 330px);
    }
    .app__siderbarPlay {
        animation: slideInLeft ease-in 0.5s forwards;
    }
}

@media (max-width: 1590px) {
    .app__siderbarPlay {
        animation: fadeOutLeft ease-out 0.5s forwards;
    }
}

@media (max-width: 1132px) {
    .app__sidebar {
        animation: fadeOutRight ease-out 0.3s forwards;
    }

}


@keyframes slideInLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fadeOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(330px);
    }
}
@keyframes fadeOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-240px);
    }
}




.siderbarPlay__player-quick {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    border-left: 1px solid var(--border-primary);

}

.player-quick__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);
    width: 330px;
}

.player-quick__header {
    display: flex;
    padding: 14px 8px;
}

.player-quick__header-left-item {
    display: flex;
    flex: 1 1;
    border-radius: 999px;
    background-color: var(--alpha-bg);
    padding: 3px;

}

.player-quick__header-left-lstListening.is-active,
.player-quick__header-left-lstPlay.is-active {
    background-color: var(--tab-active-bg);
    color: var(--text-item-hover);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
}

.player-quick__header-left-lstListening,
.player-quick__header-left-lstPlay {
    border-radius: 999px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--navigation-text);
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}


.player-quick__header-right {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.player-quick__song {
    width: 100%;
    height: 100%;
    flex: 1 1 ;
    position: relative;
}

.player-quick__scroll {
    margin-right: -5px;
    position: absolute;
    inset: 0px;
}

.player-quick__list {
    padding: 0 8px 15px;
}
.player-quick__list .media{
    padding: 8px;
}

.player-quick__list-item .media{
    width: 100%;
}

.media-item:hover {
    background-color: var(--alpha-bg);
    border-radius: 5px;
}
.player-quick-heart-icon {
    top: 2px;
    position: relative;
}
.mov-icon-player-quick {
    top: 2px;
    position: relative;
}


.media.is-pre:hover .media-right,
.media.is-pre:hover .media-left{
    opacity: 1;
    visibility: visible;
}
.player-quick__list-item .media-right {
    visibility: hidden;
}



/* Explore */
.explore__slide-container {
    display: flex;
    justify-content: center;
    min-height: calc(18vw - 117px);
    position: relative;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    z-index: 1;

}

.explore__slide-item {
    position: absolute;
    width: 100%;
    top: 50%;
}


.explore__slide-col-display {
    width: 100%;
    position: relative;
}

.img-pos {
    padding-top: 56.5%;
}

.explore__slide-img {
    width: 100%;
    will-change: transform;
    transition: transform 0.7s;
    backface-visibility: hidden;
    transform: perspective(1px) translateZ(0);
}

.explore__slide-item.first {
    z-index: 9;
    transform: translate( calc(0px - 100%), -50%);
    transition: transform 0.6s ease-in-out;
}

.explore__slide-item.second {
    z-index: 9;
    transform: translate( calc(0px - 100%), -50%);
    transition: transform 0.6s ease-in-out;
}

.explore__slide-item.third {
    z-index: 9;
    transform: translate( 100%, -50%);
    transition: transform 0.6s ease-in-out;
}

.explore__slide-item.fourth {
    opacity: 0;
    z-index: 8;
    transform: translate( 50%, -50%);
}

.explore__slide-item.fifth {
    opacity: 0;
    z-index: 6;
    transform: translate( 0, -50%);
}

.explore__slide-item.sixth {
    opacity: 0;
    z-index: 5;
    transform: translate( 0, -50%);
}
.explore__slide-item.pre {
    transition: transform 0.3s ease-in, opacity 0.3s linear;
}

.explore__slide-item.next {
    transition: transform 0.3s 0.3s ease-out, opacity 0.3s 0.3s linear;
}


.explore__slide-move {
    display: flex;
    justify-content: space-between;
    flex: 100%;
    margin: 0 25px;
    z-index: 10;
}

.explore__slide-btn {
    width: 55px;
    height: 55px;
    background-color: var(--alpha-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.explore__slide-btn i{
    font-size: 2.7rem;
    color: var(--white);
    margin: 27px;
}

.row__item-info-creator-subtitle a {
    text-decoration: none;
}




/* Player */

.player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-size: 1920px auto;
    background-color: var(--layout-bg);
}

.player__container {
    display: flex;
    padding: 0 20px;
    cursor: pointer;
    align-items: center;
    height: var(--player-height);
    justify-content: space-between;
    background-color: var(--player-bg);
}

.player__container-song {
    display: flex;
    width: 30%;
}

.player__song-info {
    width: unset;
    flex-basis: auto;
}

.media__left {
    display: flex;
    max-width: 100%;
    flex-wrap: nowrap;
    flex-basis: auto;
    margin-right: 10px;
    align-items: center;
    justify-self: start;
}

.player__song-thumb {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.player__song-thumb .thumb-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.media__content {
    flex: 1 1;
    color: #999;
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
}

.player__song-body {

}

.media__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
}



.player__song-title {
    height: 19px;
    display: flex;
    max-width: 190px;
    font-weight: 500;
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 1.9rem;
    white-space: nowrap;
    position: relative;
}

.player__title-animate {
    display: flex;
    flex-wrap: nowrap; 
}

.player__song-title .title__item {
    min-width: 90px;
    padding-right: 10px;
}

.player__song-author {
    max-width: 100%;
    line-height: 1.6rem;
}

.player__song-author a {
    color: var(--text-secondary);
    white-space: nowrap;
    text-decoration: none;
}

.media__right {
    display: flex;
    margin-left: 10px;
    justify-content: flex-end;
}

.player__song-options {
    display: flex;
}

.option-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-btn:hover {
    background-color: var(--bg-content-color);
}

.option-btn .icon {
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.player__control {
    height: 73px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.player__control-btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.control-btn {
    height: 3.2rem;
    min-width: 3.2rem;
    padding: 3px;
    margin: 0 7px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 2.4rem;
    border-radius: 50%;

}

.btn-toggle-play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-toggle-play i {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid var(--text-color);

}

.progress-block {
    height: 18px;
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.progress {
    opacity: 1;
    z-index: 5;
    height: 18px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    will-change: opacity;
    background-color: transparent;
    flex: 1;

}

.tracktime,
.durationtime {
    width: 55px;
    margin: 0 5px;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
}

.player__options {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player__options-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.player__options-btn.option-btn {
    width: 30px;
    height: 30px;
    padding: 6px;
}

.player__options-btn.option-btn .btn-icon {
    width: 18px;
    height: 18px;
    font-size: 1.8rem;

}
.option-btn .btn-icon {
    width: 13px;
    height: 13px;
    padding-top: 1px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    display: inline-block;
    color: var(--text-color);
}

.player__volume-progress {
    width: 70px;
    height: 20px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.volume__range {
    opacity: 1;
    z-index: 10;
    width: 100%;
    height: 100%;
    outline: none;
    margin-top: 0px;
    background-color: transparent;

}

.player__list-icon {
    width: 28px;
    height: 30px;
    line-height: 3rem;
    margin-left: 20px;
    border-radius: 4px;
    text-align: center;
    color: var(--text-color);
}

.player.playing .icon-play {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player .icon-pause {
    display: none;
}
